* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle at 46.65% 40.79%, #626891 0, #4e556e 16.67%, #3d404a 33.33%,
      #2d2b26 50%, #1f1600 66.67%, #170000 83.33%, #0e0000 100%);
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  border: 3px solid #626891;
  border-radius: 5px;
  align-items: center;
  background-image: radial-gradient(circle at 46.65% 40.79%, #3c5b83 0, #30394a 25%, #1b1a16 50%, #000000 75%, #000000 100%);
  color: #fff;
  padding: 25px;
}

header h1 {
  margin: 0;
  margin-left: 10px;
}

header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#drawer {
  justify-self: end;
}

#drawer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  color: #fff;
  justify-content: space-between;
}

#drawer ul li {
  margin-right: 20px;
}

#drawer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 24px; 
  display: inline-block; 
}

#drawer ul li a:hover {
  color: #c8da99;
  font-size: 20px;
}

.toggle-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
}

main {
  display: grid;
}

.hero img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  
}

.content {
  padding: 20px;
  border-radius: 10px;
  background-image: radial-gradient(circle at 46.65% 40.79%, #626891 0,
      #4e556e 16.67%, #3d404a 33.33%, #2d2b26 50%, #1f1600 66.67%, #170000 83.33%, #0e0000 100%);
      
}

.content h1 {
  text-align: center;
  color: #f5eddc;
}

.restaurant-grid {
  display: grid;
  padding-top: 20px;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.restaurant-card {
  position: relative; 
  border: 3px solid #f6e7d8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restaurant-card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 10px #f6e7d8;
}

.restaurant-card h2 {
  position: absolute; 
  background-color: rgba(81, 87, 99, 0.8);
  top: 30px;
  left: 20px; 
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #f6e7d8;
}

.restaurant-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.restaurant-card h3 {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: justify;
  color: #f5eddc;
}

.restaurantName {
  font-size: 25px;
  font-weight: bold;
}

.restaurant-card h3 span {
  color: gold;
}

.restaurant-card p {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: justify;
  color: #f5eddc;
}

footer {
  background-image: radial-gradient(circle at 46.65% 40.79%, #3c5b83 0, #30394a 25%, #1b1a16 50%, #000000 75%, #000000 100%);
  color: #fff;
  padding: 20px;
  text-align: center;
  border: 2px solid #626891;
  border-radius: 5px;
}

.skip-link {
  position: absolute;
  left: -999em; 
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-link:focus {
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  overflow: visible;
  padding: 8px 16px; 
  background-color: #000; 
  color: #fff; 
  text-decoration: none;
}


#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.btn-back-to-top {
  width: 50px;
  height: 50px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.btn-back-to-top:hover {
  background-color: #555;
}


@media only screen and (min-width: 768px) {
  .restaurant-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  
  .toggle-btn {
    display: inline-block;
    width: 44px;
    height: 44px;
    padding: 12px;
    margin-right: 5px;
  }

  .toggle-btn:hover {
    transform: scale(0.9);
    color: #c8da99;
  }

  header h1 {
    font-size: 20px;
  }

  #drawer ul {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 15%;
    background-color: rgba(53, 71, 105, 0.8);
    left: 0;
    width: 100%;
    padding: 10px 0;
  }

  #drawer ul li a:hover {
    color: #c8da99;
    font-weight: bold;
  }

  #drawer ul.show {
    display: flex;
  }

  #drawer ul li {
    margin: 0;
    text-align: center;
    padding: 10px 0;
  }
}


@media only screen and (min-width: 1200px) {
  .hero img {
    min-width: 1000px;
    width: 100%;
  }

  .restaurant-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
